body {
    margin: 0px;
    padding: 0px;
    background-color: #32435b;
}

.pointer {
    cursor: pointer;
    pointer-events: all !important;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.padding20px {
    padding: 20px;
}

.lowercase {
    text-transform: lowercase;
}

.capitalize {
    text-transform: capitalize;
    ;
}
.w100{
    width:100%
}
.w30 {
    width: 30%;
}

.w45 {
    width: 45%;
}

.w5 {
    width: 5%;
}

.w10 {
    width: 10%;
}

.w15 {
    width: 15%;
}

.w20 {
    width: 20%;
}
